@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
        format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
      url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
  }
  .main,
  .main input {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }
  .main .icon {
    width: 100px;
    margin-top: 8rem;
  }
  .main h3 {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    margin: 16px 0 40px;
  }
  .main form {
    display: flex;
    flex-direction: column;
    width: 320px;
  }
  .main input[type="text"] {
    padding: 12px 16px;
    border: 1px solid #10a37f;
    border-radius: 4px;
    margin-bottom: 24px;
    outline-color: #10a37f;
    width: 50rem;
    
  }
  
  .main ::placeholder {
    color: #8e8ea0;
    opacity: 1;

  }
  .main input[type="submit"] {
    padding: 12px 70px;
    color: #fff;
    background-color: #10a37f;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .main .result {
    margin-top: 40px;
    width: 69ch;
  }

  
  /* Add a new class for the form container */
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Add a new class for the result container */
  .result-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center; /* Center the output horizontally */
    align-items: center; /* Center the output vertically */
  }
  
  .result-container pre {
    font-size: 24px; /* Increase font size */
  }

